@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Start navbar section */
body{
    font-family: Poppins;   
}
.signUp{ 
    margin-top: 1rem;
    margin-left: 7rem;
    width: 65rem;
    height: 35rem;
    background-color: rgba(195, 188, 241, 0.135);
    border-radius: 1rem;
}
.circle img{
    width: 30rem;
    height: 35rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    
}
.circle .take h1{
    position: absolute;
    font-size: 3rem;
    top: 12rem;
    font-weight: 800;
    color: #afebfc;

}
.circle .take .adventure{
    position: absolute;
    font-size: 1rem;
    top: 15rem;
    left: 17rem;
    font-weight: 800;
    color: #afebfc;

}
.circle .take .signIn{
    position: absolute;
    font-size: 2.5rem;
    top: 20rem;
    left: 17rem;
    font-weight: 800;
    color: #afebfc;

}

.form{
    color: #7167b8;
    width: 30rem;
    font-size: 0.7rem;
}
.signEmail{
    margin-top: 3rem;
    font-weight: 800;
}

.formSection .form-control{
    font-size: 0.7rem;
    width: 29rem;
}
.para{
    color: #7b7676;
    font-size: 0.7rem;
}

.para a{
    color: #7167b8;
}


.form .links a{
    color: #7167b8;
    margin: 0.3rem;
    border-color: #B1AAE8;
    font-size: 0.6rem;
}
.create{
    color: #fff;
    background-color: #7167b8;
    border-color: #B1AAE8;
    font-size: 0.8rem;
    width: 29rem;
}
.create:hover{
    color: #fff;
}


.slide-item{
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.491); /* Semi-transparent background overlay */
    overflow: auto;
}
.content{
    background-color: rgb(250, 248, 253);
    margin: 7% auto;
    padding: 20px;
    border-radius: 0.5rem;
    width: 40%;
}
.content h5{
    font-weight: 700;
    text-align: center;
}
.content img{
    width: 12rem;
    height: 12rem;


}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color:rgb(250, 248, 253);
    font-size: 3rem;
}
